@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* some variables */
:root {
    --primary-text-color: #561818;
    --secondary-text-color: #925757;
    --accent-color: #2294ed;
    --padding-inline-section: 20px;
}

/* Personalised stuff */
body {
    background-color: #d5f8fd;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);

}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
}
button {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
}
ul {
    list-style: none;
}

/* For companies logo */
.logo_name {
    font-size: 2rem;
}

#logoimg {
    font-size: 2em;
}



/* utility classes */

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-bottom: 60px;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
}

.hover-link {
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-link:hover {
    background-color: #c0c5fe;
    padding: 10px;
    border-radius: 9px;
    color: var(--accent-color);
}

/* form */
.container01 {
    width: 30%; /* Adjust width as needed */
    margin: 0 auto; /* Center align horizontally */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="number"] {
    margin: 5px 0; /* Adjust margin between inputs */
    padding: 10px; /* Adjust padding as needed */
    width: 100%; /* Make inputs fill container width */
}

input[type="button"] {
    margin-top: 10px; /* Adjust margin as needed */
}
.form1 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Buttons */
.secondary-button {
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.secondary-button:hover {
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}


/* Buttons ending */

/* nav bar */

.navbar.scrolled {
        background-color: rgba(255, 255, 255, 0.8); /* Use an alpha value less than 1 for transparency */
        padding: 10px 20px; /* Adjust padding as needed */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow to the navbar */
        backdrop-filter: blur(10px); /* Applies a blur effect */
}


nav {
    position: sticky;
    top: 0px;
}

nav .main-nav {
    justify-content: space-between;
    padding: 14px;
}

.nav-links {
    flex-basis: 730px;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
}

.nav-toggle {
    display: none;
}

/* Navbar ending */


/* header section */

header {
    padding: 100px var(--padding-inline-section) 0;

}

.header-section {
    padding-bottom: 150px;
    justify-content: center;
    gap: 50px;
}

.header-left {
    max-width: 40vw;
}

.header-left h1 {
    margin-top: 20px;
}

.get-started-btn {
    margin-top: 20px;
}

.header-right img {
    width: 100%;
}

/* header section ending */




/* features section */

.features-section {
    background-color: #939cff;
    padding-top: 120px;
    background-repeat: no-repeat;
    background-position: center;
}

.subfooter {

    background-color: #ffdd78;
    border-top: 2px solid black;
}
#first{
    padding-top:100px ;
}


textarea {
    width: 500px;
    height: 200px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    border: 7px solid var(--secondary-text-color);
    border-radius: 2px;
    resize: none;
    /* Remove the resizer */
    overflow-y: auto;
    /* Add horizontal scrollbar when needed */
    white-space: nowrap;
    /* Prevent line breaks */
}

.secondary-button2 {
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
    margin: 30px;
}

.secondary-button2:hover {
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}


/* footer  */
footer {
    background:#2d15e6;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content .top .logo-details {
    color: #fff;
    font-size: 30px;
}

.content .top .media-icons {
    display: flex;
}

.content .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
    background: #4267B2;
}

.top .media-icons a:nth-child(1):hover {
    color: #4267B2;
    background: #fff;
}

.top .media-icons a:nth-child(2) {
    background: #1DA1F2;
}

.top .media-icons a:nth-child(2):hover {
    color: #1DA1F2;
    background: #fff;
}

.top .media-icons a:nth-child(3) {
    background: #E1306C;
}

.top .media-icons a:nth-child(3):hover {
    color: #E1306C;
    background: #fff;
}

.top .media-icons a:nth-child(4) {
    background: #0077B5;
}

.top .media-icons a:nth-child(4):hover {
    color: #0077B5;
    background: #fff;
}

.top .media-icons a:nth-child(5) {
    background: #FF0000;
}

.top .media-icons a:nth-child(5):hover {
    color: #FF0000;
    background: #fff;
}

footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}

.link-boxes .box .link_name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
}

.content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
}

.content .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
}

.content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
}

.content .link-boxes .input-box {
    margin-right: 55px;
}

.link-boxes .input-box input {
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
}

.link-boxes .input-box input::placeholder {
    color: #AFAFB6;
    font-size: 16px;
}

.link-boxes .input-box input[type="button"] {
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
}

footer .bottom-details {
    width: 100%;
    background: var(--primary-text-color);
}

footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

.bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
}

.bottom-details .bottom_text a {
    margin-right: 10px;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.all img {
    width: 100px;
    margin-bottom: 20px;
}

.all input {
    padding: 10px;
    margin-bottom: 20px;
    width: 300px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
}